# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installed dependencies
*.log
pip-log.txt
pip-delete-this-directory.txt

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# PyInstaller
*.spec

# Django / Flask local files
instance/
*.sqlite3
db.sqlite3
media/

# Pytest cache
.pytest_cache/

# MacOS and system files
.DS_Store
Thumbs.db
